<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="envdte" version="17.4.33103.184" targetFramework="net472" />
  <package id="envdte80" version="17.4.33103.184" targetFramework="net472" />
  <package id="MessagePack" version="2.4.59" targetFramework="net472" />
  <package id="MessagePack.Annotations" version="2.4.59" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Framework" version="17.4.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.4" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.NET.StringTools" version="17.4.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.ServiceHub.Analyzers" version="4.1.112" targetFramework="net472" />
  <package id="Microsoft.ServiceHub.Framework" version="4.1.112" targetFramework="net472" />
  <package id="Microsoft.ServiceHub.Resources" version="4.1.112" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.4.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.4.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Editor" version="17.4.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.GraphModel" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Interop" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Language" version="17.4.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.44" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.RpcContracts" version="17.4.9" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.10.10" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.36" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.4.2244" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="16.10.31321.278" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="16.10.31321.278" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="16.10.31321.278" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="16.10.31321.278" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Telemetry" version="16.6.9" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.4.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.4.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI" version="17.4.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="17.4.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="17.5.22" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.5.22" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.4.33103.184" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.38" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="17.0.65" targetFramework="net472" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.4.2120" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="17.5.4062" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Nerdbank.Streams" version="2.9.112" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="StreamJsonRpc" version="2.13.33" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.Convention" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="7.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="7.0.1" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="7.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="7.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>